{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-md-8 mb-5">
                <h2>Bem vindos à Morada da Pizza</h2>
                <hr>
                <p>Nós da Morada da Pizza trabalhamos com muita exelência, nosso objetivo é satisfazer nossos clientes com nossas massas de alta qualidade</p>
                <p>Temos um cardápio bem completo, englobando vários sabores diferentes. Que tal fazer um pedido?</p>
                <a class="btn btn-primary btn-lg" href="/pizzas">Cardápio &raquo;</a>
            </div>
            <div class="col-md-4 mb-5">
                <h2>Contato</h2>
                <hr>
                <address>
                    <strong>Endereço</strong>
                    <br>Rua blá blá
                    <br>Centro 999
                    <br>
                </address>
                <address>
                    <abbr title="Phone">Cel:</abbr>
                    (38) 4186392
                    <br>
                    <abbr title="Email">E-mail:</abbr>
                    <a href="mailto:#">moradadapizza@gmail.com</a>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="https://placehold.it/300x200" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="https://placehold.it/300x200" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="https://placehold.it/300x200" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>

{% endblock %}